<div class="container px-4 mx-auto my-8">
  <div class="mb-4">
    <%= link_to "â† Back to Bid Request", @bid_request, class: "text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300" %>
  </div>

  <div class="mb-6">
    <h1 class="h3 dark:text-white">Edit Bid Request</h1>
  </div>

  <div class="bg-white dark:bg-gray-800 rounded shadow p-6">
    <%= render "form", bid_request: @bid_request %>
  </div>
</div>