<div class="container px-4 mx-auto my-8">
  <div class="mb-4">
    <%= link_to "â† Back to Bid Requests", bid_requests_path, class: "text-blue-600 hover:text-blue-800" %>
  </div>

  <div class="mb-6">
    <h1 class="h3">New Bid Request</h1>
  </div>

  <div class="bg-white rounded shadow p-6">
    <%= render "form", bid_request: @bid_request %>
  </div>
</div>