<div class="container mx-auto px-4 py-8">
  <div class="mb-6">
    <div class="flex items-center space-x-2">
      <%= link_to campaigns_path, class: "text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
        </svg>
      <% end %>
      <h1 class="text-2xl font-bold dark:text-white">Edit Campaign</h1>
    </div>
    <p class="text-gray-500 dark:text-gray-400 mt-2">Update your campaign settings.</p>
  </div>

  <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-6">
    <%= render 'form', campaign: @campaign %>
  </div>
</div>